:root {
  --davivienda-red: #DA291C;    /* El rojo vibrante de la marca */
  --davivienda-gray: #F4F4F7;   /* Fondo gris muy claro para los módulos */
  --davivienda-text: #333333;   /* Gris oscuro para legibilidad */
  --davivienda-accent: #E60000; /* Rojo para botones */
}